DATABASE_URL=postgresql://barbershop:barbershop@localhost:5433/barbershop

# URL da sua Evolution API (local ou cloud)
EVOLUTION_API_URL=

# Chave de autenticação da sua instância Evolution API
EVOLUTION_API_KEY=

# Nome da instância conectada ao seu WhatsApp
EVOLUTION_INSTANCE=

SKIP_DATE_VALIDATION=
